body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(to right, #003090, #1050ff);
}

footer {
  background-color: #777777;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #e0e0e0;
  padding: 2em;
}
