body {
  color: white;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(to right, #003090, #1050ff);
}

footer {
  padding: 1em;
  margin: 0 auto;
  bottom: 20px;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 50%;
  text-align: center;
}
