body {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(to right, #003090, #1050ff);
}

footer {
  padding: 1em;
  margin: 0 auto;
  bottom: 20px;
  position: fixed;
  background: linear-gradient(to bottom, #f0f0f0, #c0c0c0);
  border-radius: 10px;
  width: 50%;
  text-align: center;
}
