    :root {
        --darker-blue: #031F5B;
        --dark-blue: #0E58D7;
        --sea-blue: #0D57DF;
        --light-blue: #0C80E5;
        --greenish-mint: #99FFAA;
        --mint: #20EC80;
        --iron-white: linear-gradient(to bottom right, #FFFFFF, #C3C3CD);
        --metal-dark: linear-gradient(to bottom right, #333333, #111111);
        --miracle-drop: linear-gradient(to bottom right, #00B0F0, #0070C0);
        --anim: 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    html, body {
        padding: 0;
        margin: 0;
        font-family: 'Jost';
        font-weight: 300;
        background-image: var(--metal-dark);
        color: #FFF;
    }

    header {
        text-align: center;
        background-image: var(--miracle-drop);
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .button-primary, .button-secondary {
        padding: 8px;
        border-radius: 4px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 25px;
        color: var(--light-blue);
        background: var(--iron-white);
        transition: var(--anim);

    }

    .button-primary:hover, .button-secondary:hover {
        background-color: #101010;
        transform: translateY(-5px);
        box-shadow: 0px 0px 10px 0px #00000050;
    }

    .section-intro {
        font-weight: 500;
    }

    a {
        color: var(--greenish-mint);
        transition: var(--anim);
    }

    a:hover {
        color: var(--mint);
    }

    .buttons-div {
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;

    }

    .section-soon {
        font-weight: 500;
    }

    footer {
        padding: 2px;
        background-image: var(--miracle-drop);
        text-align: center;
        position: sticky;
    }
